.nav-color{
    background: #1e577c;
}

.carrusel-index{
    height: 450px;
}

.card-img{
    height: 400px;
}

.bg-jumbotron{
    background-image: url(../img/carrusel3.jpg);
    background-size: cover;
    background-position: 40%;
    height: 450px;
}

.bg-jumbotron p{
    text-align: justify;
}

